<form>
  <div style="margin-bottom: 20px">
    <div style="text-align: center; font-size: 1.1em; font-weight: bold; margin-bottom: 10px">It's going down! What's your plan?</div>

    <div style="margin: auto; width: 80%">
      {{#each action}}
      <div style="padding-bottom: 8px">
        <label>
          <input type="radio" name="action" value="{{#unless this.input}}{{this.value}}{{else}}custom{{/unless}}" {{#if this.default}}checked{{/if}} data-type="{{this.type}}">
          <span style="padding: 0 5px 0 3px">{{this.label}}</span>
          {{#if this.input}}
            <input name="custom" type="number" min="1" max="99" step="1"
              style="width: 30px; text-align: center" oninput="(validity.valid)||(value='')">
          {{/if}}
        </label>
      </div>
      {{/each}}
    </div>
    <div style="margin-top: 4px">
      <div>You can <b>Focus</b> on your action and gain a bonus. But, anyone who attacks you gets the same bonus,
      due to your lack of attention.</div>
      <div style="text-align: center; margin-top: 6px">
        <input type="radio" name="setFocus" id="focus0" value="0" checked/>
        <label for="focus0">No, I'm good</label>
        
        <input type="radio" name="setFocus" id="focus10" value="10" style="margin-left: 15px"/>
        <label for="focus10">+10</label>
        
        <input type="radio" name="setFocus" id="focus20" value="20" style="margin-left: 15px"/>
        <label for="focus20">+20</label>

        <input type="radio" name="setFocus" id="focus30" value="30" style="margin-left: 15px"/>
        <label for="focus20">+30</label>
      </div>
    </div>
  </div>
</form>